<html>
	<head>
		<title>Cadastro de usuário</title>
	</head>
	<body>
		<h1>Cadastro de usuário</h1>
		<!--<form action="/action_page.php">-->
		<form method="post" action="api/cadastroUsuario/save">
		 <!--<label for="fId">ID:</label><br>
		 <input type="text" id="fId" name="ID"><br>-->
		 <label for="lUserName">Username:</label><br>
		 <input type="text" id="lUserName" name="username"><br>
		 <label for="lPassword">Password</label>:</label><br>
		 <input type="password" id="lPassword" name="password"><br>
		 <label for="lnivel">Nivel:</label><br>
		 <input type="nivel" id="tnivel" name="nivel"><br><br><br>
		 <input type="submit" value="Enviar">
		</form>
	</body>
</html>
