<html>
	<head>
		<title>Página Principal</title>
	</head>
	<body>
		<h1>Página Inicial</h1>
		<!--<form action="/action_page.php">-->
		<!--<form method="post" action="api/user/estudo">
		 <label for="fId">ID:</label><br>
		 <input type="text" id="fId" name="ID"><br>
		 <label for="lUserName">Username:</label><br>
		 <input type="text" id="lUserName" name="username"><br>
		 <label for="lPassword">Password</label>:</label><br>
		 <input type="password" id="lPassword" name="password"><br>
		 <label for="lnivel">Nivel:</label><br>
		 <input type="nivel" id="tnivel" name="nivel"><br><br><br>
		 <input type="submit" value="Enviar">
		</form>-->
		<form action="">
			<label for="ILogin">Login:</label><br>
			<input type="text" id="ILogin" name="login"><br>
			<label for="IPassoword">Senha:</label><br>
			<input type="password" id="IPassword" name="password"><br><br><br>
			<input type="submit" value="Logar">
		</form>
	</body>
</html>
