<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Página de pessoa</title>
		
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
		
		
		<link th:href="@{/css/navbars.css}" rel="stylesheet">
		<style>
			form{
			  padding: 30px 0;
			}					
			
			.formulario {
				padding: 30px 0;
				background-color: rgb(223, 223, 223);
				border-radius: 5px;
				width: 70%;
				text-align: center;
			}
		</style>

	</head>
	<body>
		<!--<main>-->
			<div th:replace="~{/barraNavegacao/index :: barraNavegacao}">
				
			</div>			
						
			<div class="container formulario">
				<div class="row justify-content-md-center">
				<!--<div class="row">-->
					<div class="col-md-8">
						<h3 th:text="'Dados de '+${pessoa.nome}">Página de pessoa</h3>
						<hr>
						<form method="put" id="myForm">

								<label for="lPessoaCPF">CPF:</label><br>
								<input type="text" id="lPessoaCPF" name="cpf" class="form-control" th:value="${pessoa.cpf}" required readonly><br>
	
								<label for="lPessoaNome">Nome:</label><br>
								<input type="text" id="lPessoaNome" name="nome" class="form-control" th:value="${pessoa.nome}" required readonly><br>

								<label for="lPessoaEmail">E-mail:</label><br>
								<input type="text" id="lPessoaEmail" name="email" class="form-control" th:value="${pessoa.email}" required readonly><br>

								<label for="lPessoaCEP">CEP:</label><br>
								<input type="text" id="lPessoaCEP" name="cEP" class="form-control" th:value="${pessoa.endereco.cEP}" readonly><br>

								<label for="lPessoaRua">Rua:</label><br>
								<input type="text" id="lPessoaRua" name="rua" class="form-control" th:value="${pessoa.endereco.rua}" readonly><br>
	
								<label for="lPessoaNumero">Número:</label><br>
								<input type="text" id="lPessoaNumero" name="numero" class="form-control" th:value="${pessoa.endereco.numero}" readonly><br>

								<label for="lPessoaBairro">Bairro:</label><br>
								<input type="text" id="lPessoaBairro" name="bairro" class="form-control" th:value="${pessoa.endereco.bairro}" readonly><br>

								<label for="lPessoaCidade">Cidade:</label><br>
								<input type="text" id="lPessoaCidade" name="cidade" class="form-control" th:value="${pessoa.endereco.cidade}" readonly><br>

								<label for="lPessoaEstado">Estado:</label><br>
								<input type="text" id="lPessoaEstado" name="estado" class="form-control" th:value="${pessoa.endereco.estado}" readonly><br><br><br>
									
								<br><br>
								<h3>Cadastro de usuário</h3>
								<hr>
								<!--<form action="/action_page.php">-->
								
								 <!--<label for="fId">ID:</label><br>
								 <input type="text" id="fId" name="ID"><br>-->
								 
								 <label for="lUserName">Username:</label><br>
								 <input type="text" id="lUserName" name="username" class="form-control" th:value="${pessoa.usuario.username}" required readonly><br>
				 
								 <label for="lPassword">Password</label>:</label><br>
								 <input type="password" id="lPassword" name="password" class="form-control" required th:value="${pessoa.usuario.password}" readonly><br>
	
								 <label for="lnivel">Nivel:</label><br>
								 <input type="nivel" id="tnivel" name="nivel" class="form-control" th:value="${pessoa.usuario.nivel}" required readonly><br><br><br>

								 <!--<input id="botaoCad" type="submit" value="Enviar">-->
								 <button id="botaoExcluir" type="submit" class="btn btn-danger btn-block form-control">Excluir</button>
								 <!--<input type="submit" name="submit" value="Enviar" class="btn btn-success">-->
							
						</form>
					</div>
				</div>
			</div>	
		<!--</main>-->
		<script th:src="@{/js/jquery.min.js}"></script>
		<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
		<script th:src="@{/js/pessoa/deletaPessoa.js}"></script>
	</body>
</html>